body {
    background-color: #f3f3f3;
    border-top: 10px solid #952B47;
    font-family: 'Trebuchet MS', sans-serif;
}

div.document {
    width: 900px;
    margin: 0 auto;
    background-color: #f3f3f3;
    color: #000;
}
div.main-header {
    background-color: #f3f3f3;
    color: #952B47;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 24px;
    font-variant: small-caps;
    margin-bottom: -40px;
}
div.main-header a {
    color: #952B47;
}
div.main-header em {
    color: #AC7583;
    font-size: 80%;
    font-style: normal;
    text-align: right;
    position: relative;
    top: -40px;
    display: block;
}
div.bodywrapper {
    margin: 40px 250px 0px 0px;
}
div.sphinxsidebar {
    float: right;
    width: 200px;
    background-color: #f3f3f3;
    margin-top: 40px;
}
div.related {
    background-color: #AC7583;
}
div.sphinxsidebar h3 a, div.sphinxsidebar h4 a,
div.sphinxsidebar h3,   div.sphinxsidebar h4 {
    color: #952B47;
}
div.sphinxsidebar a,
div.sphinxsidebar ul {
    color: #DF2B72;
}
div.sphinxsidebar p {
    color: #999;
}
div.body {
    background-color: #f3f3f3;
}
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    background-color: #f3f3f3;
    border-bottom: 2px solid #DCBCCA;
    color: #952B47;
}
div.note, div.warning, div.todo {
    color: #555;
    font-size: 90%;
}
div.todo {
    background-color: #FFE4E4;
    border: 1px solid #AC7583;
}
pre, code, tt, kbd{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    line-height: 1.4em;
    padding: 2px 4px;
    white-space: nowrap;
	font-size: 100%;
}
.note tt {
    background-color: #e5e5e5;
}
tt.descname {
    border: none;
	font-size: 1.6em;
}
div.footer {
    background-color: #952B47;
}
div.body {
    color: #333;
    font-family: "DejaVu serif", serif;
}
div.body p {
    margin: 1.5em 0;
    text-align: left;
}
div.body dl.function li,
div.body dl.class li {
    margin-bottom: 1em;
    list-style: none;
}
dl.function dt,
dl.class dt,
tt.descname {
    color: #777;
}
div.body a {
    color: #DF2B72;
}
div.body a:hover {
    color: #952B47;
}
a.headerlink:hover {
    color: #fff !important;
}

#howdy-there ul {
    list-style: none;
    font-size: 1.4em;
    font-style: normal;
	padding: 2em 0px;
}
#howdy-there ul ul {
    font-size: 90%;
	padding: 0.2em 0px 0.5em 2em;
}

.highlight pre {
    margin-left: -20px;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    border-left-width: 20px;
    border-top-width: 3px;
    color: #555;
    white-space: pre;
    overflow: hidden;
    background-color: #FEE;
    border-color: #AC7583;
}

.figure {
    display: block;
    text-align: center;
    background: #fff;
    border: 1px solid #aaa;
    color: #999;
    font-size: 90%;
    -webkit-box-shadow: #ccc 0px 0px 10px 0px;
    -moz-box-shadow:    #ccc 0px 0px 10px 0px;
    -o-box-shadow:      #ccc 0px 0px 10px 0px;
    box-shadow:         #ccc 0px 0px 10px 0px;
}

table.option-list td {
    padding: 10px 0px;
}
.option-list kbd {
    border: none;
    background: transparent;
	font-size: 110%;
}
.option-list td.option-group {
	padding-right: 20px;
}

